{% load static %}


<!DOCTYPE html>
<html>
<head>
<style>
<!-- table { -->
    <!-- border-collapse: collapse; -->
<!-- } -->

<!-- table, td, th { -->
    <!-- border: 1px solid black; -->
<!-- } -->
<!-- li { -->
    <!-- color: red; -->
<!-- } -->

</style>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
<!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
</head>
<body>
Myownview1
<br>
<a href = "https://docs.djangoproject.com/en/2.1/intro/" target = "_self">https://docs.djangoproject.com/en/2.1/intro/</a>
<br>

<form action="/polls/1/vote/" method="get">
	First name: <input type="text" name="fname"><br>
	Last name: <input type="text" name="lname"><br>
	<button type="submit">Submit</button>
	<br>
	<button type="submit" formaction="/action_page2.php">Submit to another page</button>
</form>

<br>
<a href = "/polls/1/vote/" target = "_self">/polls/1/vote/</a>
<br>
Fetchall raw sql from one single SQL, uses tuples to show info at list:
<h1>Tuple of tuples say:</h1>
<br>
(('aro que si', 2),
('ziziziziz', 1),
('asdasdadadada', 1),
('Just hacking again', 0))
<br>
Headers
<br>

<br>
<h2>joins elements in list</h2>
{% verbatim %}
{{ columns|join:", " }}
{% endverbatim %}

<br>
<h2>for item in list</h2>

{% verbatim %}
{% for item in columns %}
<br>
     {{ item}}, 
<br>
{% endfor %}
<br>
{% endverbatim %}
<br>
example:
{% for item in columns %}
     {{ item}}, 
{% endfor %}
<br>

<h2>for tuple in tuple</h2>
{% verbatim %}
{% for item in result %}
	<br>
	&ltli&gt{{ item.0 }}, {{ item.1 }}
	<br>
{% endfor %}
<br>
{% endverbatim %}
<br>
example:
{% for item in result %}
     <li>{{ item.0 }}, {{ item.1 }}
	 <br>
{% endfor %}
<br>

<a href = "https://lte-wiki.rnd.ki.sw.ericsson.se/mediawiki/" target = "_self">https://lte-wiki.rnd.ki.sw.ericsson.se/mediawiki/</a>


<table>
  <tr>
    {% for item in columns %}
    <th>{{ item}}</th>
    {% endfor %}
  </tr>
{% for item in result %}
	<tr>
    <td>{{ item.0 }}</td>
    <td>{{ item.1 }}</td>
    <td>{{ item.2 }}</td>
    <td>{{ item.3 }}</td>
    <td>{{ item.4 }}</td>
    <td>{{ item.5 }}</td>
    <td>{{ item.6 }}</td>
    <td>{{ item.8 }}</td>
    <td>{{ item.9 }}</td>
    <td>{{ item.10 }}</td>
	 </tr>
{% endfor %}
</table>

<br>
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
<br>
<math>
	H(s) = ∫<sub>0</sub><sup>∞</sup> e<sup>-st</sup> h(t) dt
</math>

</body>
</html>
